* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    padding:0;
    margin:0;
}

a {
    cursor: pointer;
}

input, textarea {
    width:100%;
    padding:1em;
    margin-bottom:1em;
}

textarea {
    min-height: 300px;
}

#root {
    max-width:400px;
    margin:0 auto;
}

.main-nav {
    margin:20px;
    padding:10px 0;
}

.main-nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.main-nav li {
    display: inline-block;
    margin-right: 32px;
    font-size: 24px;
    border-bottom: 4px solid transparent;
}

.main-nav a {
    cursor: pointer;
}

.main-nav  a:hover {
    color: #999;
}

.main-nav li.selected {
    border-bottom-color: #FFAA3F;
}

main {
    margin: 0 20px;
}

.totals {
    margin-top:2em;
}

.totals-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom:0.5em;
}